@import "tailwindcss";
@import "@nuxt/ui";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@theme static {
  --font-serif: 'EB Garamond', serif;
  --font-sans: 'Raleway', sans-serif;

  /* Florencia Café Colors */
  --color-cafe-50: #F8F4F2;
  --color-cafe-100: #EFE9E6;
  --color-cafe-200: #D69069;
  --color-cafe-300: #C3855D;
  --color-cafe-400: #B17951;
  --color-cafe-500: #9F6E45;
  --color-cafe-600: #6C4239;
  --color-cafe-700: #56352E;
  --color-cafe-800: #412822;
  --color-cafe-900: #2B1B17;
  --color-cafe-950: #150D0B;

  /* Florencia Neutral Grays */
  --color-neutral-50: #F3F3F3;
  --color-neutral-100: #E7E7E7;
  --color-neutral-200: #DADADA;
  --color-neutral-300: #CECECE;
  --color-neutral-400: #9B9B9B;
  --color-neutral-500: #676767;
  --color-neutral-600: #343434;
  --color-neutral-700: #262626;
  --color-neutral-800: #171717;
  --color-neutral-900: #000000;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-900);
}

h1, h2, h3, h4, .font-serif {
  font-family: var(--font-serif);
}

